In [3]:
SELECT COUNT(*) AS 'Foglalások száma'
FROM Foglalas
WHERE YEAR(METTOL) = YEAR(MEDDIG) AND MONTH(METTOL) <> MONTH(MEDDIG)

Foglalások száma
131

In [4]:
SELECT szh.TIPUS,
       ROUND(COUNT(*),-2)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
                JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID
GROUP BY szh.TIPUS 
HAVING ROUND(COUNT(*),-2) < 500

TIPUS,(No column name)
Apartman,100
vendégház,100
panzió,200